@font-face { 
	font-family: Brandon;
	font-weight: 100;
	src: url('../fonts/brandon/Brandon_thin.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 100;
	font-style:italic;
	src: url('../fonts/brandon/Brandon_thin_it.otf');
}

@font-face { 
	font-family: Brandon;
	font-weight: 300;
	src: url('../fonts/brandon/Brandon_light.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 300;
	font-style:italic;
	src: url('../fonts/brandon/Brandon_light_it.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 400;
	src: url('../fonts/brandon/Brandon_reg.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 400;
	font-style:italic;
	src: url('../fonts/brandon/Brandon_reg_it.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 500;
	src: url('../fonts/brandon/Brandon_med.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 500;
	font-style:italic;
	src: url('../fonts/brandon/Brandon_med_it.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 600;
	src: url('../fonts/brandon/Brandon_bld.otf');
}
@font-face { 
	font-family: Brandon;
	font-weight: 600;
	font-style:italic;
	src: url('../fonts/brandon/Brandon_bld_it.otf');
}




@font-face { 
	font-family: Avenir;
	font-weight: 100;
	src: url('../fonts/avenir/avenir-next-thin.ttf');
}

@font-face { 
	font-family: Avenir;
	font-weight: 300;
	src: url('../fonts/avenir/avenir-next-regular.ttf');
}


@font-face { 
	font-family: Avenir;
	font-weight: 300;
	font-style:italic;
	src: url('../fonts/avenir/avenir-next-italic.ttf');
}

@font-face { 
	font-family: Avenir;
	font-weight: 600;
	src: url('../fonts/avenir/avenir-next-bold.ttf');
}