#slides {
	float:left;
	width:100%;
}

.slide {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;

}
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
	overflow: hidden;
	.color { 
		position:absolute;
		z-index:2;
		height:100%;
		width:100%;
		top:0;
		left:0;
		background:#000;
		opacity:0.7;
	}
	video {
		left:0;
		top:0;
		min-width:100%;
		min-height:100%;
		width:auto;
		height:auto;
		z-index:1;
		position: absolute;
	}
}

.slide {
	.content {
		padding: 50px 100px;
		float:left;
		width:100%;
		@media screen and ( max-width: 800px ) {
			padding: 50px 10px;
		}
	}
	.bg {
		.color {
			background:linear-gradient(135deg, #565D5B 0%, #1D2121 100%);
		}
	}
}

#hero_slide {
	h1 {
		color:#000;
		span {
			transition:$cubic_bezier;
			transform: translateY(20px);
			position: relative;
			opacity:0;
			float:left;
			&.delay1 {
				transition-delay:0s;
			}
			&.delay2 {
				transition-delay:0.1s;
			}
			&.delay3 {
				transition-delay:0.2s;
			}
		}
	}
	&.animate {
		h1 { span { transform:translateY(0px); opacity:1; } }
	}
	.bg {
		width:0;
	}
	video {
		opacity:0;
	}
	&.animate2 {
		h1 {
			color:#fff;
		}
		.bg {
			width:100%;
		}
		video {
			opacity:1;
		}
	}
}
.slide.not_ready {
	opacity:0;
	transform:translateY(20px);
}
#who_slide {
	background:rgb(255, 246, 240);
}
#hacking_slide {
	background:rgb(222, 220, 220);
}
#join_slide {
	background:rgb(249, 249, 249);
	padding-top:80px;
	padding-bottom:80px;
	h1 {
		font-size:33px;
	}
}
#lets_go {
	color: rgb(157, 157, 157);
    border: 1px solid rgb(213, 211, 211);
    padding: 10px 35px;
    left:50%;
    transform:translatex(-50%);
    position:relative;
	svg {
		fill:rgb(100, 100, 100);
	}
	&:hover {
		background:rgb(100,100, 100);
		color:#fff;
		border-color:transparent;
		svg {
			fill:#fff;
		}
	}
}